<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        	<link href="{{ asset('css/db_styles.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
	<div id="pageHeader">
		<a id="dbNav" href="{{ path('homepage') }}">Switch databases</a>
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		<div>	 Logged in as: {{ app.user.username }} |&nbsp;
			<a href="{{ path('fos_user_security_logout') }}">
				{{ 'Logout'|trans({}, 'FOSUserBundle') }}
			</a>
		</div>
		{% endif %}
	</div>
    <header>
    	{% block head %}
    		 <img src="{{ asset('images/brightmoor_logo.jpg') }}" id="brightmoorHeader" /><h1 class="header">Brightmoor Connection Database</h1>
    	{% endblock %}
    	{% block storehouseHead %}
    	    <img src="{{ asset('images/Storehouse_of_Hope_Logo.jpg') }}" alt="Storehouse Logo" id="storehouseHeader" /><h1 class="header">Storehouse of Hope Database</h1>
    	{% endblock %}
    </header>
    <nav>
		<ul class="nav">
			{% block nav %}
			<li class="nav"><a href="{{ path('form') }}" id="nav-brightmoor">Client Database</a></li>
			<li class="nav"><a href="{{ path('appointments') }}">Appointments</a></li>
			{% endblock %}
			{% block storehouseNav %}
			<li class="nav"><a href="{{ path('storehouseForm') }}" id="nav-brightmoor">Client Database</a></li>
			<li class="nav"><a href="{{ path('storehouseAppointments') }}">Appointments</a></li>
			{% endblock %}
		</ul>
	</nav>
    <section>
        {% block section %}{% endblock %}
    </section>
        {% block javascripts %}
            <script src="{{ asset('js/jquery.js') }}"></script>
			<script src="{{ asset('js/jquery.maskedinput.js') }}"></script>
        {% endblock %}
    </body>
</html>
