<!DOCTYPE html>
<html>
    <head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        	<link href="{{ asset('css/db_styles.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <nav>
		<ul class="nav"><div style="max-width: 1400px; margin: auto;">
			{% block nav %}
			<li class="nav"><a href="{{ path('form') }}" id="nav-brightmoor">Brightmoor Connection Client Database</a></li>
			<li class="nav"><a href="{{ path('appointments') }}">Brightmoor Connection Client Appointments</a></li>
			<li class="nav"><a href="{{ path('storehouseForm') }}" id="nav-brightmoor">Storehouse of Hope Client Database</a></li>
			<li class="nav"><a href="/logout">Logout</a></li></li>
			{% endblock %}
		</div>
		</ul>
	</nav>
    <section>
        {% block section %}{% endblock %}
    </section>
        {% block javascripts %}
            <script src="{{ asset('js/jquery.js') }}"></script>
			<script src="{{ asset('js/jquery.maskedinput.js') }}"></script>
        {% endblock %}
    </body>
</html>
