<!DOCTYPE html>
<html>
    <head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        	<link href="{{ asset('css/db_styles.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		{% block javascript_head %}
			<!--include jquery -->
			<script src="{{ asset('js/jquery.js') }}"></script>
		{% endblock %}
    </head>
    <body>
	<div id="pageHeader">
		{# <a id="dbNav" href="{{ path('homepage') }}">Switch databases</a> #}
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		<div>	 Logged in as: <a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a> |&nbsp;
			<a href="{{ path('fos_user_security_logout') }}">
				{{ 'Logout'|trans({}, 'FOSUserBundle') }}
			</a>
		</div>
		{% endif %}
	</div>
    <header>
    	{% block head %}
    		 <img src="{{ asset('images/brightmoor_logo.jpg') }}" class="brightmoorHeader" /><h1 class="header">Brightmoor Connection Database</h1>
    	{% endblock %}
    	{% block storehouseHead %}
    	    <img src="{{ asset('images/Storehouse_of_Hope_Logo.jpg') }}" alt="Storehouse Logo" id="storehouseHeader" /><h1 class="header">Storehouse of Hope Database</h1>
    	{% endblock %}
    </header>
    <nav>
		<ul class="nav">
			{% block nav %}
			<li class="nav"><a href="{{ path('form') }}">Client Database</a></li>
			<li class="nav"><a href="{{ path('appointments') }}">Appointments</a></li>
			<li class="nav"><a href="{{ path('poundage') }}">Poundage</a></li>
			<li class="nav"><a href="{{ path('reports') }}">Fisher/Gleaners Reports</a></li>
			<li class="nav"><a href="{{ path('referralReport') }}">Referrals Report</a></li>
			<li class="nav rightButton"><a href="{{ path('volunteerForm') }}">Donor/Volunteer Database</a></li>
			
			<!-- 
<li class="nav parent">
				<a href="#">Reports</a>
				<div class="dropdown">
					<a href="{{ path('reports') }}">Fisher/Gleaners Reports</a>
					<a href="{{ path('referralReport') }}">Referrals Report</a>
				</div>
			</li>
 -->

			{% endblock %}
			{% block storehouseNav %}
			<li class="nav"><a href="{{ path('storehouseForm') }}">Client Database</a></li>
			<li class="nav"><a href="{{ path('storehouseAppointments') }}">Appointments</a></li>
			{% endblock %}
			{% block donorVolunteerNav %}
			<li class="nav"><a href="{{ path('volunteerForm') }}">Volunteer Database</a></li>
			<li class="nav"><a href="{{ path('donorForm') }}">Donor Database</a></li>
			<li class="nav"><a href="{{ path('donorVolunteerReport') }}">Donor/Volunteer Roster</a></li>
			<li class="nav"><a href="{{ path('volunteerReport') }}">View Volunteers by Category</a></li>
			<li class="nav rightButton"><a href="{{ path('form') }}">Client Database</a></li>
			{% endblock %}
		</ul>
	</nav>
    <section>
        {% block section %}{% endblock %}
    </section>
        {% block javascripts %}
			<script src="{{ asset('js/jquery.maskedinput.js') }}"></script>
        {% endblock %}
    </body>
</html>
