{% extends 'base.html.twig' %}
{% block title %}Brightmoor Connection Appointments{% endblock %}
{# override base layout so storehouse header doesn't display #}
{% block storehouseHead %}{% endblock %}
{# override base layout so Storehouse nav doesn't display #}
{% block storehouseNav %}
{% endblock %}
{% block donorVolunteerNav %}
{% endblock %}
{% block section %}
<div class="formStyle">
<form id="datePickerForm" >
<label for="formDatePicker">Date: </label><input type="text" name="formDatePicker" id="formDatePicker" class="dateTextLength" size="10" value="{{ date|date('m/d/Y') }}" />
</form>
 <h3>Scheduled Appointments</h3>
<div class="overflowX">
	<table border="1">
	{% if appointments %}
			<tr>
				<th>Client</th>
				<th>Date</th>
				<th>Time</th>
				<th>Home Phone</th>
				<th>Cell Phone</th>
				<th>Status</th> 
				<th>Note</th>
				<th></th>
			</tr>
	{% else %}
		<p>No appointments currently scheduled for {{ date|date('l, F j') }}.</p>
	{% endif %}
	{% for appointment in appointments %}
	 {#{ dump(appointment.client.id) }#}
		<form name="existingAppointment">
		<tr>
			<td class="textCentered"><a href="{{ path('form', {'id': appointment.client.id}) }}" >{{ appointment.client.lastName }}, {{ appointment.client.firstName }}</a></td>
			<input type="hidden" name="apptClient" value="{{ appointment.client.id }}" />
			<input type="hidden" name="ApptID" value="{{ appointment.id }}" />
			<td><input type="text" style="width: 6.25em; margin: 0 .5em;" name="AppointmentDate" id="AppointmentDate{{ appointment.id }}" value="{{ appointment.date|date('m/d/Y') }}" /></td>
				<script>
				  $(function() {
					$( "#AppointmentDate{{ appointment.id }}" ).datepicker({dateFormat: "mm/dd/yy"});
				});
				</script>
			<td>
				<select name="AppointmentTime">
					<option value=""></option>
					{% for time in timeArray %}
						<option value="{{ time }}" {% if time == appointment.time %} selected="selected"{% endif %}>{{ time }}</option>
					{% endfor %}
				</select>
			</td>
			<td class="textCentered">{{ appointment.client.homePhoneNumber }}</td>
			<td class="textCentered">{{ appointment.client.cellPhoneNumber }}</td>
			<td>
				<select name="AppointmentStatus">
					<option value=""></option>
					{% for status in statusArray %}
						<option value="{{ status }}" {% if status == appointment.status %} selected="selected"{% endif %}>{{ status }}</option>
					{% endfor %}
				</select>
			</td>
			<td><textarea name="AppointmentNote">{{ appointment.note }}</textarea></td>

	<td class="whiteSpaceNoWrap"><input type="submit" name="UpdateAppointment" value="Update"><input type="submit" name="DeleteAppointment" value="Delete Appointment" onClick="return confirm('Are you sure you want to delete the appointment?');"></td>
		</tr>
	</form>
	{% endfor %}
	</table>
</div>

<h3>Schedule New Appointment</h3>
<div class="overflowX">
	<table border="1">
	{{ form_start(form) }}
	{{ form_errors(form) }}
		<tr>
			<th>Client</th>
			<th>Date</th>
			<th>Time</th> 
			<th>Status</th> 
			<th>Note</th>
			<th></th>
		</tr>
		<tr>
			<td><select name="apptClient" required>
					<option value=""></option>
				{% for client in allClients %}
					<option value="{{ client.id }}">{{ client.lastName }}, {{ client.firstName }}</option>
				{% endfor %}
			</select></td>
			<td>{{ form_row(form.date) }}</td>
			<td>{{ form_row(form.time) }}</td>
			<td>{{ form_row(form.status) }}</td>
			<td>{{ form_row(form.note) }}</td>
			<td class="whiteSpaceNoWrap">{{ form_row(form.save) }}</td>
		</tr>
	</table>
</div>
{{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<!-- date picker-->
<link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
  <script>
  $(function() {
    $( "#formDatePicker" ).datepicker({
    			dateFormat: "mm/dd/yy",
    		onSelect : function (dateText, inst) {
          $('#datePickerForm').submit(); // <-- SUBMIT
  }
    		});
  });
  </script>
	<script>
	  $(function() {
		$( "#form_date" ).datepicker();
	  });
	</script>
{% endblock %}
