{% extends 'base.html.twig' %}
{% block title %}Brightmoor Connection - Reports{% endblock %}
{# override base layout so storehouse header doesn't display #}
{% block storehouseHead %}{% endblock %}
{# override base layout so Storehouse nav doesn't display #}
{% block storehouseNav %}
{% endblock %}
{% block donorVolunteerNav %}
{% endblock %}
{% block section %}

<div class="formStyle">
	<form id="datePickerForm" >
		<label for="formDatePicker1">Age 1: </label><input type="text" name="formAgePicker1" id="formAgePicker1" class="dateTextLength" size="10" value="{{ age1 }}"/>
		<label for="formDatePicker2">Age 2: </label><input type="text" name="formAgePicker2" id="formAgePicker2" class="dateTextLength" size="10" value="{{ age2 }}"/>
		<input type="submit" value="Submit" id="reportSubmit">
	</form>
	
	<form action="{{ path('chirpReportDownload') }}" method="post">
		<input type="hidden" name="age1" value="{{ age1 }}" />
		<input type="hidden" name="age2" value="{{ age2 }}" />
		<input type="submit" value="Download Report as CSV file*"/>
	</form>
	<p>*can be opened with Excel</p>

	<h1>Chirp Report Results</h1>
	<h4>Households with family members between age {{ age1 }} and {{ age2 }}</h4>
	<div class="overflowX">
	<table border="1" id="focusGroupDisplay">
		<tr>
			<th>Name</th>
			<th>Home Phone Number</th>
			<th>Cell Phone Number</th>
{#			<th>Family Member Ages in Age Range</th>#}
			<th>Most recent appointment (M/Y)</th>
		</tr>

	{% for household in households %}
		<tr class="padded">
			<td class="centered"><a href="{{ path('form', {'id': household.id}) }}" >{{ household.lastName }}, {{ household.firstName }}</a></td>
			<td class="centered">{{ household.homePhoneNumber }}</td>
			<td class="centered">{{ household.cellPhoneNumber }}</td>
{#			<td class="centered ages">
				{% for familyMember in household.familyMembers %}
					{% if familyMember.age >= age1 and familyMember.age <= age2 %}
						{% if loop.last %}
							{{ familyMember.age }}
						{% else %}
							{{ familyMember.age }},
						{% endif %}
					{% endif %}
				{% endfor %}
			</td>
#}
			<td class="centered">
				{% for appointment in household.appointments %}
					{% if loop.last %}
						{{ appointment.date|date('n/y') }}
					{% endif %}
				{% endfor %}
			</td>
		</tr>
	{% endfor %}
		
	</table>
	</div>
 
</div>
{% endblock %}
