{% extends 'base.html.twig' %}
{% block title %}Brightmoor Connection Database - Poundage{% endblock %}
{# override base layout so storehouse header doesn't display #}
{% block storehouseHead %}{% endblock %}
{# override base layout so Storehouse nav doesn't display #}
{% block storehouseNav %}
{% endblock %}
{% block section %}
<div class="formStyle">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<form id="datePickerForm" >
		<label for="formDatePicker1">Date 1: </label><input type="text" name="formDatePicker1" id="formDatePicker1" class="dateTextLength" size="10" value="{{ date1|date('m/d/Y') }}"/>
		<label for="formDatePicker2">Date 2: </label><input type="text" name="formDatePicker2" id="formDatePicker2" class="dateTextLength" size="10" value="{{ date2|date('m/d/Y') }}"/>
		<input type="submit" value="Submit" id="reportSubmit">
	</form>

	<h3>Poundage for {{ date1|date('n/d/Y') }} - {{ date2|date('n/d/Y') }}</h3>
	<div class="overflowX">
	<table border="1">
			<tr>
				<th>Date</th>
				<th>Poundage</th> 
				<th>Note</th>
				<th></th>
			</tr>

	{% for poundage in poundages %}
		<form name="poundages">
		<tr>
			<!--<td>{{ poundage.date|date('l, n/d/Y') }}</td>-->
			<input type="hidden" name="PoundageID" value="{{ poundage.id }}" />
			<td><input type="text" style="width: 6.25em; margin: 0 .5em;" name="PoundageDate" id="PoundageDate{{ poundage.id }}" value="{{ poundage.date|date('m/d/Y') }}" /></td>
				<script>
				  $(function() {
					$( "#PoundageDate{{ poundage.id }}" ).datepicker({dateFormat: "mm/dd/yy"});
				});
				</script>
			<td class="centered"><input type="number" name="PoundageAmount" id="PoundageAmount" value="{{ poundage.poundage }}" /></td>
			<td><textarea name="PoundageNote">{{ poundage.note }}</textarea></td>
			<td class="whiteSpaceNoWrap"><input type="submit" name="UpdatePoundage" value="Update Poundage"><input type="submit" name="DeletePoundage" value="Delete Poundage" onClick="return confirm('Are you sure you want to delete this poundage entry?');"></td>
		</tr>
	</form>
	{% endfor %}

	{{ form_start(form) }}
	{{ form_errors(form) }}
		<tr>
			<td class="date">{{ form_row(form.date) }}</td>
			<td class="centered">{{ form_row(form.poundage) }}</td>
			<td>{{ form_row(form.note) }}</td>
			<td class="whiteSpaceNoWrap">{{ form_row(form.save) }}</td>
		</tr>
	{{ form_end(form) }}
		<tr id="poundageTotal">
			<td>Total:</td>
			<td>{{ poundageSum }}</td>
			<td></td>
			<td></td>
		</tr>
	</table>
	</div>

</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
<!-- date picker-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
    <script>
  $(function() {
    $( "#formDatePicker1" ).datepicker({
    			dateFormat: "mm/dd/yy",
    		});
  });
  </script>

  <script>
  $(function() {
    $( "#formDatePicker2" ).datepicker({
    			dateFormat: "mm/dd/yy",
    		});
  });
  </script>
	<script>
	  $(function() {
		$( "#poundage_date" ).datepicker();
	  });
	</script>
{% endblock %}