{% extends 'base.html.twig' %}
{% block title %}Brightmoor Connection - Referral Report{% endblock %}
{# override base layout so storehouse header doesn't display #}
{% block storehouseHead %}{% endblock %}
{# override base layout so Storehouse nav doesn't display #}
{% block storehouseNav %}
{% endblock %}
{% block section %}

<div class="formStyle">

	<form id="datePickerForm">
		<label for="formDatePicker1">Date 1: </label><input type="text" name="formDatePicker1" id="formDatePicker1" class="dateTextLength" size="10" value="{{ date1|date('m/d/Y') }}"/>
		<label for="formDatePicker2">Date 2: </label><input type="text" name="formDatePicker2" id="formDatePicker2" class="dateTextLength" size="10" value="{{ date2|date('m/d/Y') }}"/>
		<input type="submit" value="Submit" id="reportSubmit">
	</form>

	<h1>Report Results</h1>
	<h4>Date Range: {{ date1|date('m/d/Y') }} - {{ date2|date('m/d/Y') }}</h4>
	<div id="reportContainer">
		<div class="reportItem">
			<h3>Referrals Report</h3>
			<table id="report" border="1">
				<tr class="bottomRow">
					<td>Number of referrals:</td>
					<td>{{ referralCount }}</td>
				</tr>
				<tr>
					<td>Number of Females served:</td>
					<td>{{ femaleReferralCount }}</td>
				</tr>
				{% if nullGenderReferralCount != 0 %}
					<tr>
						<td>Number of Males served:</td>
						<td>{{ maleReferralCount }}</td>
					</tr>
					<tr class="bottomRow">
						<td>Number of people served with no gender entered:</td>
						<td>{{ nullGenderReferralCount }}</td>
					</tr>
				{% else %}
					<tr class="bottomRow">
						<td>Number of Males served:</td>
						<td>{{ maleReferralCount }}</td>
					</tr>			
				{% endif %}
				{% for referralNamesResult in referralNamesResults %}
					<tr class="referralNamesResults">
						<td>{{ referralNamesResult.name }}</td>
						<td>{{ referralNamesResult.count }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}


{% block javascripts %}
{{ parent() }}
<!-- date picker-->
	<link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
	<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
  <script>
  $(function() {
    $( "#formDatePicker1" ).datepicker({
    			dateFormat: "mm/dd/yy",
    		});
  });
  </script>

  <script>
  $(function() {
    $( "#formDatePicker2" ).datepicker({
    			dateFormat: "mm/dd/yy",
    		});
  });
  </script>

{% endblock %}
