{% extends 'base.html.twig' %}
{% block title %}Brightmoor Connection Database - Edit referral type{% endblock %}
{# override base layout so storehouse header doesn't display #}
{% block storehouseHead %}{% endblock %}
{# override base layout so Storehouse nav doesn't display #}
{% block storehouseNav %}
{% endblock %}
{% block section %}
<div class="formStyle">

	<h3>Edit Referral Types</h3>
	<div class="overflowX">
	<table border="1">
		<tr>
			<th>Type</th>
			<th></th>
		</tr>

	{% for referralName in referralNames %}
	<form name="referralNames">
		<tr>
			<input type="hidden" name="ReferralNameID" value="{{ referralName.id }}" />
			<td class="centered"><input type="text" name="ReferralName" value="{{ referralName.name }}" /></td>
			<td class="whiteSpaceNoWrap"><input type="submit" name="UpdateReferralName" value="Update Referral Type"><input type="submit" name="DeleteReferralName" value="Delete Referral Type" onClick="return confirm('Are you sure you want to delete this referral type?');"></td>
		</tr>
	</form>
	{% endfor %}

	{{ form_start(form) }}
	{{ form_errors(form) }}
		<tr>
			<td class="centered">{{ form_row(form.name) }}</td>
			<td class="whiteSpaceNoWrap">{{ form_row(form.save) }}</td>
		</tr>
	{{ form_end(form) }}
	</table>
	</div>

</div>
{% endblock %}
