{% extends 'base.html.twig' %}
{% block title %}Brightmoor Connection - Reports{% endblock %}
{# override base layout so storehouse header doesn't display #}
{% block storehouseHead %}{% endblock %}
{# override base layout so Storehouse nav doesn't display #}
{% block storehouseNav %}
{% endblock %}
{% block section %}

<div class="formStyle">

	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<form id="datePickerForm" >
		<label for="formDatePicker1">Date 1: </label><input type="text" name="formDatePicker1" id="formDatePicker1" class="dateTextLength" size="10" value="{{ date1|date('m/d/Y') }}"/>
		<label for="formDatePicker2">Date 2: </label><input type="text" name="formDatePicker2" id="formDatePicker2" class="dateTextLength" size="10" value="{{ date2|date('m/d/Y') }}"/>
		<input type="submit" value="Submit" id="reportSubmit">
	</form>

	<h1>Report Results</h1>
	<h4>Date Range: {{ date1|date('m/d/Y') }} - {{ date2|date('m/d/Y') }}</h4>
	<div id="reportContainer">
		<div class="reportItem">
			<h3>Fisher Report</h3>
			<table id="report" border="1">
				<tr class="bottomRow">
					<td>Number of Households served:</td>
					<td>{{ householdCount }}</td>
				</tr>
				<tr class="bottomRow">
					<td>Number of Individuals served:</td>
					<td>{{ individualsCount }}</td>
				</tr>		
				<tr>
					<td>Number of Females served:</td>
					<td>{{ femalesCount }}</td>
				</tr>
				{% if nullGenderCount != 0 %}
					<tr>
						<td>Number of Males served:</td>
						<td>{{ malesCount }}</td>
					</tr>
					<tr class="bottomRow">
						<td>Number of people served with no gender entered:</td>
						<td>{{ nullGenderCount }}</td>
					</tr>
				{% else %}
					<tr class="bottomRow">
						<td>Number of Males served:</td>
						<td>{{ malesCount }}</td>
					</tr>			
				{% endif %}
				<tr>
					<td>Children served in age range 0-5:</td>
					<td>{{ peopleServed05 }}</td>
				</tr>
				<tr>
					<td>Individuals served in age range 6-17:</td>
					<td>{{ peopleServed617 }}</td>
				</tr>
				<tr>
					<td>Individuals served in age range 18-64:</td>
					<td>{{ peopleServed1864 }}</td>
				</tr>
				{% if nullAgeCount != 0 %}
					<tr>
						<td>Individuals served ages 65+:</td>
						<td>{{ peopleServed65 }}</td>
					</tr>
					<tr class="bottomRow">
						<td>Individuals served with no age entered:</td>
						<td>{{ nullAgeCount }}</td>
					</tr>
				{% else %}
					<tr class="bottomRow">
						<td>Individuals served ages 65+:</td>
						<td>{{ peopleServed65 }}</td>
					</tr>
				{% endif %}
				<tr>
					<td>New Households:</td>
					<td>{{ newHouseholdCount }}</td>
				</tr>
				<tr class="bottomRow">
					<td>New Households with Children ages 0-5:</td>
					<td>{{ newHouseholdCount05 }}</td>
				</tr>
				<tr class="bottomRow">
					<td>Pregnant women served:</td>
					<td>{{ pregnantCount }}</td>
				</tr>
				<tr class="bottomRow">
					<td>Poundage:</td>
					<td>{{ poundageSum }}</td>
				</tr>
			</table>
		
			<form action="{{ path('reportDownload') }}" method="post">
				<input type="hidden" name="date1" value="{{ date1 }}" />
				<input type="hidden" name="date2" value="{{ date2 }}" />
				<input type="hidden" name="householdCount" value="{{ householdCount }}" />
				<input type="hidden" name="individualsCount" value="{{ individualsCount }}" />
				<input type="hidden" name="femalesCount" value="{{ femalesCount }}" />
				<input type="hidden" name="malesCount" value="{{ malesCount }}" />
				<input type="hidden" name="nullGenderCount" value="{{ nullGenderCount }}" />
				<input type="hidden" name="peopleServed05" value="{{ peopleServed05 }}" />
				<input type="hidden" name="peopleServed617" value="{{ peopleServed617 }}" />
				<input type="hidden" name="peopleServed1864" value="{{ peopleServed1864 }}" />
				<input type="hidden" name="peopleServed65" value="{{ peopleServed65 }}" />
				<input type="hidden" name="nullAgeCount" value="{{ nullAgeCount }}" />
				<input type="hidden" name="newHouseholdCount" value="{{ newHouseholdCount }}" />
				<input type="hidden" name="newHouseholdCount05" value="{{ newHouseholdCount05 }}" />
				<input type="submit" value="Download Report as CSV file"/>
			</form>
		</div>
		<div class="reportItem">
			<h3>Gleaners Report</h3>
			<table id="report" border="1">
				<tr class="bottomRow">
					<td>Number of Households served:</td>
					<td>{{ householdCount }}</td>
				</tr>
				<tr class="bottomRow">
					<td>Number of Individuals served:</td>
					<td>{{ individualsCount }}</td>
				</tr>		
				<tr>
					<td>Number of Females served:</td>
					<td>{{ femalesCount }}</td>
				</tr>
				{% if nullGenderCount != 0 %}
					<tr>
						<td>Number of Males served:</td>
						<td>{{ malesCount }}</td>
					</tr>
					<tr class="bottomRow">
						<td>Number of people served with no gender entered:</td>
						<td>{{ nullGenderCount }}</td>
					</tr>
				{% else %}
					<tr class="bottomRow">
						<td>Number of Males served:</td>
						<td>{{ malesCount }}</td>
					</tr>			
				{% endif %}
				<tr>
					<td>Individuals served in age range 0-17:</td>
					<td>{{ peopleServed017 }}</td>
				</tr>
				<tr>
					<td>Individuals served in age range 18-64:</td>
					<td>{{ peopleServed1864 }}</td>
				</tr>
				{% if nullAgeCount != 0 %}
					<tr>
						<td>Individuals served ages 65+:</td>
						<td>{{ peopleServed65 }}</td>
					</tr>
					<tr class="bottomRow">
						<td>Individuals served with no age entered:</td>
						<td>{{ nullAgeCount }}</td>
					</tr>
				{% else %}
					<tr class="bottomRow">
						<td>Individuals served ages 65+:</td>
						<td>{{ peopleServed65 }}</td>
					</tr>
				{% endif %}
				<tr>
					<td>New Households:</td>
					<td>{{ newHouseholdCount }}</td>
				</tr>
				<tr class="bottomRow">
					<td>New Households with Children ages 0-5:</td>
					<td>{{ newHouseholdCount05 }}</td>
				</tr>
			</table>
		
			<form action="{{ path('gleanersReportDownload') }}" method="post">
				<input type="hidden" name="date1" value="{{ date1 }}" />
				<input type="hidden" name="date2" value="{{ date2 }}" />
				<input type="hidden" name="householdCount" value="{{ householdCount }}" />
				<input type="hidden" name="individualsCount" value="{{ individualsCount }}" />
				<input type="hidden" name="femalesCount" value="{{ femalesCount }}" />
				<input type="hidden" name="malesCount" value="{{ malesCount }}" />
				<input type="hidden" name="nullGenderCount" value="{{ nullGenderCount }}" />
				<input type="hidden" name="peopleServed017" value="{{ peopleServed017 }}" />
				<input type="hidden" name="peopleServed1864" value="{{ peopleServed1864 }}" />
				<input type="hidden" name="peopleServed65" value="{{ peopleServed65 }}" />
				<input type="hidden" name="nullAgeCount" value="{{ nullAgeCount }}" />
				<input type="hidden" name="newHouseholdCount" value="{{ newHouseholdCount }}" />
				<input type="hidden" name="newHouseholdCount05" value="{{ newHouseholdCount05 }}" />
				<input type="submit" value="Download Report as CSV file"/>
			</form>
		</div>
	</div>
	
	{% if headOfHouseholdNullAge or familyMemberNullAge or headOfHouseholdNullGender or familyMemberNullGender %}
		<h2>Warnings</h2>
		<p><strong>Clients with no age or no gender entered are listed below:</strong></p>
	
		{% if headOfHouseholdNullAge %}
		<p>The following heads of household were served in date range but have no age assigned:</p>
		<ul>
		{% for headOfHousehold in headOfHouseholdNullAge %}
			<li><a href="{{ path('form', {'id': headOfHousehold.id}) }}">{{ headOfHousehold.lastName }}, {{ headOfHousehold.firstName }}</a></li>
		{% endfor %}
		</ul>
		{% endif %}
 
		{% if familyMemberNullAge %}
		<p>The following family members were served in date range but have no age assigned:</p>
		<ul>
		{% for familyMember in familyMemberNullAge %}
			{% if familyMember.name == "" %}
				<li><a href="{{ path('form', {'id': familyMember.client.id}) }}#familyMembers">Click to view record</a> (no name entered for family member)</li>
			{% else %}
				<li><a href="{{ path('form', {'id': familyMember.client.id}) }}#familyMembers">{{ familyMember.name }}</a></li>
			{% endif %}
		{% endfor %}
		</ul>
		{% endif %}
	
		{% if headOfHouseholdNullGender %}
		<p>The following heads of household were served in date range but have no gender assigned:</p>
		<ul>
		{% for headOfHousehold in headOfHouseholdNullGender %}
			<li><a href="{{ path('form', {'id': headOfHousehold.id}) }}">{{ headOfHousehold.lastName }}, {{ headOfHousehold.firstName }}</a></li>
		{% endfor %}
		</ul>
		{% endif %}
	
		{% if familyMemberNullGender %}
		<p>The following family members were served in date range but have no gender assigned:</p>
		<ul>
		{% for familyMember in familyMemberNullGender %}
			{% if familyMember.name == "" %}
				<li><a href="{{ path('form', {'id': familyMember.client.id}) }}#familyMembers">Click to view record</a> (no name entered for family member)</li>
			{% else %}
				<li><a href="{{ path('form', {'id': familyMember.client.id}) }}#familyMembers">{{ familyMember.name }}</a></li>
			{% endif %}
		{% endfor %}
		</ul>
		{% endif %}
	{% endif %}
 
</div>
{% endblock %}


{% block javascripts %}
{{ parent() }}
<!-- date picker-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $( "#formDatePicker1" ).datepicker({
    			dateFormat: "mm/dd/yy",
    		});
  });
  </script>

  <script>
  $(function() {
    $( "#formDatePicker2" ).datepicker({
    			dateFormat: "mm/dd/yy",
    		});
  });
  </script>

{% endblock %}
