{% extends 'base.html.twig' %}
{% block title %}Brightmoor Connection - Volunteer Report{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/tablesorterStyle.css') }}" rel="stylesheet" />
{% endblock %}
{% block javascript_head %}
	{{ parent() }}
	<!--include tablesorter -->
	<script src="{{ asset('js/jquery.tablesorter.min.js') }}"></script>
	<script>
		$(document).ready(function() 
			{ 
				$("#volunteerReport").tablesorter(); 
			} 
		); 
	</script>
{% endblock %}
{# override base layout so storehouse header doesn't display #}
{% block storehouseHead %}{% endblock %}
{# override base layout so Storehouse nav doesn't display #}
{% block storehouseNav %}
{% endblock %}
{% block section %}
<form>
	<p>Filter by category:</p>
	{% for volunteerCategory in volunteerCategories %}
		<input type="radio" id="volunteerCategory{{ volunteerCategory.id }}" onchange="window.location.assign('{{ path('volunteerReport', {'category': volunteerCategory.category}) }}')" {% if volunteerCategory.category == category %}checked{% endif %}>
		<label for="volunteerCategory{{ volunteerCategory.id }}">{{ volunteerCategory.category }}</label>
	{% endfor %}
</form>
<div class="formStyle">
	<h1>Report Results</h1>
	<div class="overflowX">
		<h3>Volunteer Roster</h3>
		<table id="volunteerReport" class="tablesorter" border="1">
			<thead>
				<tr>
					<th>Volunteer</th>
					<th>Home Phone Number</th>
					<th>Cell Phone Number</th>
					<th>Email Address</th>
					<th>Most Recent Volunteer Date</th>
					<th>Volunteer Categories</th>
				</tr>
			</thead>
			<tbody>
			{% for volunteer in volunteers %}
				<tr>
					<td><a href="{{ path('volunteerForm', {'id': volunteer.id}) }}" >{{ volunteer.lastName }}, {{ volunteer.firstName }}</a></td>
					<td>{{ volunteer.homePhoneNumber }}</td>
					<td>{{ volunteer.cellPhoneNumber }}</td>
					<td>{{ volunteer.emailAddress }}</td>
					<td>{% if volunteer.mostRecentVolunteerDate %}{{ volunteer.mostRecentVolunteerDate["date"]|date('n/d/y') }}{% endif %}</td>
					<td>
						<ul>
							{% for category in volunteer.volunteerCategories %}
							<li>{{ category.category }}</li>
							{% endfor %}
						</ul>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
