{% extends 'base.html.twig' %}
{% block title %}Brightmoor Connection Volunteer Database{% endblock %}
{# override base layout so storehouse header doesn't display #}
{% block storehouseHead %}{% endblock %}
{# override base layout so Storehouse nav doesn't display #}
{% block nav %}
{% endblock %}
{% block storehouseNav %}
{% endblock %}
{% block section %}
{% if errors %}
	<div style="color: red; margin 0 0 1em;">Errors: the form was not submitted. See below for error.</div>
{% endif %}
{{ form_start(form) }}
{{ form_errors(form) }}
	<label for="clientDropDown">Select Volunteer: </label><select class="clientDropDown" id="clientDropDown" name="ClientID" onchange="this.form.submit()">
			<option value="new volunteer">New Volunteer</option>
		{% for donorVolunteer in allDonorVolunteers %}
			<option value="{{ donorVolunteer.id }}" {% if id == donorVolunteer.id %} selected="selected"{% endif %}>{{ donorVolunteer.lastName }}, {{ donorVolunteer.firstName }}</option>
		{% endfor %}
	</select>
<div class="formStyle">
	<h2>Volunteer Information:</h2>
		<div class="fieldWrapper">{{ form_row(form.firstName, {'label': 'First Name: '}) }}</div>
		<div class="fieldWrapper">{{ form_row(form.lastName, {'label': 'Last Name: '}) }}</div><br />
		<div class="fieldWrapper">{{ form_row(form.address, {'label': 'Address: '}) }}</div>
		<div class="fieldWrapper">{{ form_row(form.address2, {'label': 'Address 2: '}) }}</div>
		<div class="fieldWrapper zipCode">{{ form_row(form.zipCode, {'label': 'Zip Code: '}) }}</div><br />
		<div class="fieldWrapper phoneNumber">{{ form_row(form.homePhoneNumber, {'label': 'Home Phone Number: '}) }}</div>                        
		<div class="fieldWrapper phoneNumber">{{ form_row(form.cellPhoneNumber, {'label': 'Cell Phone Number: '}) }}</div> 
		<div class="fieldWrapper">{{ form_row(form.emailAddress, {'label': 'Email Address: '}) }}</div>
		<div class="fieldWrapper">		
			<div>
				<div id="{{ form.newVolunteerCategory.vars.id }}">
					<label id="volunteerTypeHeader">Volunteer Type:</label>
					{% for form_row in form.newVolunteerCategory %}
					<div class="fieldWrapper"><label for="{{form_row.vars.id}}">{{ form_row.vars.label }}:</label><input id="{{form_row.vars.id}}" name="{{form_row.vars.full_name}}" value="{{form_row.vars.value}}" type="checkbox" {% if form_row.vars.value in categoryIDs %} checked{% endif %}></div>
					{% endfor %}
				</div>
			</div>
		</div>
		<p><a href="{{ path('volunteerCategory') }}">Edit/add volunteer categories</a></p>
		<div class="fieldWrapper">{{ form_row(form.otherNotes, {'label': 'Other/Notes: '}) }}</div>
		
	<h3 id="volunteerSessions">Volunteer Hours</h3>
	<div class="overflowX">
		<table border="1" class="volunteerSessions collectionHolder" id="volunteerSessionsTable" data-prototype="{% filter escape %}{% include 'default/volunteerSessionPrototype.twig' with { 'volunteerSession': form.volunteerSessions.vars.prototype } %}{% endfilter %}">
			<tr id="volunteerSessionsHeader">
				<th>Date</th>
				<th>Hours</th> 
				<th>Note</th> 
				<th></th>
			</tr>
				{# iterate over each existing volunteer session and render its fields #}
				{% for volunteerSession in form.volunteerSessions %}
					<tr class="volunteerSessionsRow">
						<td>{{ form_row(volunteerSession.date) }}</td>
						<td class="decimal">{{ form_row(volunteerSession.hours) }}</td>
						<td>{{ form_row(volunteerSession.note) }}</td>
					</tr>
					<!-- datepicker script -->
					<script>
					  $(function() {
						$( "#{{volunteerSession.date.vars.id}}" ).datepicker();
					  });
					</script>
				{% endfor %}
		</table>
	</div>

{{ form_row(form.save) }}

</div>

</div>
<!--hide extra form names due to bug(?)-->
<div style="display: none;">
{{ form_row(form.newVolunteerCategory) }}
{{ form_row(form.volunteerSessions) }}
</div>
{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<!--script for pattern masks-->
	<script>
	jQuery(function($){
		$("input[type=text]#volunteer_homePhoneNumber").mask("(999)999-9999");
		$("input[type=text]#volunteer_cellPhoneNumber").mask("(999)999-9999");
	});
	</script>
	<script src="{{ asset('js/volunteerSessionCollectionHolder.js') }}"></script>
	<!--jQuery UI Datepicker - Default functionality-->
		<link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
		<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
	<!-- 	end datepicker -->
	<script src="{{ asset('js/volunteerTableDisplay.js') }}"></script>
{% endblock %}
