{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<div id="loginScreen">
	<h2>Login</h2>
	<form action="{{ path("fos_user_security_check") }}" method="post">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

		<label for="username">{{ 'User Name*: '|trans }}</label>
		<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

		<label for="password">{{ 'Password*: '|trans }}</label>
		<input type="password" id="password" name="_password" required="required" />

		<button type="submit" id="login_button" name="loginButton">Submit</button>
	</form>
	<a href="{{ path('fos_user_resetting_request') }}">Forgot password</a>
</div>
</div>
</div>
<div>
	<h4>Database documentation:</h4>
	<p><a href="https://richs5812.github.io/chirpDatabase2/db_restore.html" target="_blank">How to restore the database from a backup file</a></p>
	<p><a href="https://richs5812.github.io/chirpDatabase2/index.html" target="_blank">Installation instructions</a></p>
	<p><a href="https://github.com/richs5812/chirpDatabase2" target="_blank">Link to code repository on Github</a></p>
	<div>
{% endblock fos_user_content %}
